@page "/"
<PageTitle>Home</PageTitle>


<h3>Button</h3>

<WaButton Icon="arrow-right" ButtonColor="WaVariant.Brand" OnClick="@(() => _clickCount++)">Click me</WaButton>

<p>Current count: @_clickCount</p>

<h3>Checkbox</h3>

<WaCheckbox @bind-Checked="_checked">Checkbox!</WaCheckbox>

<p>Checkbox is: @_checked</p>

<h3>Switch</h3>
<WaSwitch @bind-Checked="_switch">Switch</WaSwitch>
<p>Switch is: @_switch</p>

<h3 >Details</h3>


<WaDetails Summary="Details?">Hello</WaDetails>

<h3>Radio</h3>

<WaRadio T="string" Items="@(["A","B", "C"])"></WaRadio>

<h3>Qr</h3>

<WaQr Value="https://www.google.com"></WaQr>

<h3>Avatar</h3>

<WaAvatar Image="https://www.w3schools.com/howto/img_avatar.png" Label="Avatar"></WaAvatar>

<h3>Input</h3>

<WaInput @bind-Text="@_text"></WaInput>

<p>@_text</p>

<h3>Icon</h3>

<WaIcon Icon="plus"></WaIcon>
<WaIcon Icon="plus" OverrideColor="#00FF00"></WaIcon>
<WaIcon Icon="plus" OverrideColor="#00FF00"></WaIcon>
<WaIcon Icon="sparkles" OverrideColor="yellow"></WaIcon>
<WaIcon IconType="FaType.Brands" Icon="docker" OverrideColor=""></WaIcon>
<h3>Card</h3>

<WaCard>
    <ChildContent>
        <WaButton Icon="copy" OnClick="@(() => _clickCount++)">Copy new Guid</WaButton>
    </ChildContent>
</WaCard>

<h3>Spinner</h3>

<WaSpinner></WaSpinner>

<h3>Text area</h3>

<WaTextArea Label="Text!" HelpText="Help text.."></WaTextArea>

<h3>Tag</h3>

<WaTag Variant="WaVariant.Brand">Brand</WaTag>
<WaTag Variant="WaVariant.Success">Success</WaTag>
<WaTag Variant="WaVariant.Neutral">Neutral</WaTag>
<WaTag Variant="WaVariant.Warning">Warning</WaTag>
<WaTag Variant="WaVariant.Danger">Danger</WaTag>

<h3>Relative time</h3>

<WaRelativeTime Date="DateTime.Now"></WaRelativeTime>

<h5>Synchronized</h5>
<WaRelativeTime Date="DateTime.Now" Sync="true"></WaRelativeTime>

<h3>Icon button</h3>

<WaIconButton Icon="plus" Variant="FaType.Solid" Label="Add" OnClick="@(() => _clickCount++)"></WaIconButton>

<p>Current count: @_clickCount</p>

<h3>Progress ring</h3>

<WaProgressRing Value="50"></WaProgressRing>


@code {

    private int _clickCount = 0;
    private bool _checked = false;
    private bool _switch = false;
    
    private string _text = "Hello";

    private void Callback()
    {
        _clickCount++;
    }

    private void Callback2()
    {
        _clickCount--;
    }
}